footer.portfolio-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    .languages
    {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        details
        {
            max-height: 50px;
            transition: max-height 0.5s linear;
            &[open]
            {
                max-height: 80dvh;
            }
            summary
            {
                list-style: none;
                cursor: pointer;
                &::marker
                {
                    content: none;
                }
            }
            svg
            {
                width: 50px;
                max-height: 50px;
            }
            ul
            {
                list-style: none;
            }
        }
    }
}