section.face-content
{
    overflow-x: hidden;
    overflow-y: auto;
    &.projects .projects-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        & article
        {
            border: 2px solid var(--article-border-color);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 5px 5px 5px var(--article-shadow-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & figure.project-header
            {
                width: 100%;
                & img
                {
                    width: 100%;
                }
                & figcaption
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            & ul.list
            {
                list-style: none;
                display: flex;
                gap: 10px;
                padding: 5px 10px;
                width: fit-content;
                height: fit-content;
                &.tech
                {
                    background-color: blanchedalmond;
                    border-radius: 25px;
                }
                & img
                {
                    /* width: 25px; */
                    height: 25px;
                }
            }
        }
    }
    &.about
    {
        & h4
        {
            display: flex;
            justify-content: space-between;
            & .external-link-icon
            {
                width: 25px;
                height: 25px;
            }
        }
    }
}