*[class], ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    /* Colors Settings */
    --bg-color: antiquewhite;
    --bg-dice-color: #f5f8fc;
    --text-nav-color: black;
    --border-color: #b4b8c0;
    --border-color-translucent: #b4b8c080;
    --icon-filter: none;
    /* Navbar Settings */
    --item-menu-width: 90px;
    --item-menu-spacing: 20px;
    --indicator-size: 60px;
    --toggle-width: 100px;
    --toggle-height: 50px;
    /* Cube Settings */
    --cube-size: 90cqmin;
    --cube-duration-rotation: .4s;
    --cube-duration-launch: 2s;
    --cube-animation-launch: var(--cube-duration-launch) linear 1;
    --cube-transition-rotation: var(--cube-duration-rotation) linear; 
    --cube-rotation-axe: x;
    --cube-rotation: 0deg;
    --cube-angle: 0deg;
    --cube-move-x: 0dvw;
    --cube-move-y: 0dvh;
    --cube-move-rotation: 0.5, 1, 2;
}
/* Dark Mode */
:root:has(input#check-theme:checked)
{
    /* Colors Settings */
    --bg-color: #0e1217;
    --bg-dice-color: #1c1f26;
    --text-nav-color: #cccccc;
    --border-color: #545b6a;
    --icon-filter: invert(100%);
}