body
{
    background-color: lightslategray;
    min-height: 100dvh;
}

.flash:empty
{
    display: none;
}
/* Login Page */
.login-page, .register-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    & .login-form, & .register-form
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 2px solid black;
        padding: 1rem;
        border-radius: 10px;
        background-color: whitesmoke;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        & .form-group
        {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            & label
            {
                font-weight: bold;
            }
            & input
            {
                padding: 0.5rem;
                border: 1px solid gray;
                border-radius: 5px;
                font-size: 1rem;
            }
            & input:focus
            {
                outline: none;
                border-color: dodgerblue;
                box-shadow: 0 0 5px rgba(30,144,255,0.5);
            }
            &.age
            {
                position: absolute;
                left: -100%;
            }
        }
        & .error
        {
            color: red;
            font-weight: bold;
            
        }
    }
}
