main.container .cube-container .cube 
{
    & .face
    {
        &.face-2
        {
            rotate: var(--cube-rotation-axe) 60deg;
        }
        &.face-3
        {
            rotate: var(--cube-rotation-axe) 120deg;
        }
        &.face-4
        {
            rotate: var(--cube-rotation-axe) 180deg;
        }
        &.face-5
        {
            rotate: var(--cube-rotation-axe) 240deg;
        }
        &.face-6
        {
            rotate: var(--cube-rotation-axe) 300deg;
        }
        &.face-7, &.face-8
        {
            display: flex;
            justify-content: center;
            align-items: center;
            &::before, &::after
            {
                content: "";
                border: inherit;
                border-left: none;
                border-right: none;
                background-color: var(--bg-dice-color);
                position: absolute;
                rotate: z 60deg;
                width: inherit;
                height: inherit;
            }
            &::after
            {
                rotate: z -60deg;
            }
        }
    }
    header#page-control:has(.input-link:checked) ~ main.container &
    {
        rotate: var(--cube-rotation-axe) var(--cube-rotation);
    }
    header:has(#f1:checked) ~ main.container &
    {
        --cube-rotation: 0deg;
    }
    header:has(#f2:checked) ~ main.container &
    {
        --cube-rotation: 300deg;
    }
    header:has(#f3:checked) ~ main.container &
    {
        --cube-rotation: 240deg;
    }
    header:has(#f4:checked) ~ main.container &
    {
        --cube-rotation: 180deg;
    }
    header:has(#f5:checked) ~ main.container &
    {
        --cube-rotation: 120deg;
    }
    header:has(#f6:checked) ~ main.container &
    {
        --cube-rotation: 60deg;
    } 
}
.skills
{
    display: grid;
    grid-template-rows: auto 1fr;
    & .animation-container
    {
        aspect-ratio: unset;
        height: 100%;
        & .circle
        {
            animation: none !important;
            position: relative;
            & .logo
            {
                animation: square-move 60s infinite linear backwards;
                transform: none !important;
                width: 20cqmin;
                & img
                {
                    animation: none !important;
                }
                &:nth-child(1)
                {
                    animation-delay: -6s;
                    left: 0;
                    top: 0;
                }
                &:nth-child(2)
                {
                    animation-delay: -12s;
                    left: 0;
                }
                &:nth-child(3)
                {
                    animation-delay: -18s;
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(4)
                {
                    animation-delay: -24s;
                    left: 20cqmin;
                    top: 0;
                }
                &:nth-child(5)
                {
                    animation-delay: -30s;
                    left: 20cqmin;
                    bottom: 0;
                }
                &:nth-child(6)
                {
                    animation-delay: -36s;
                    right: 0;
                }
                &:nth-child(7)
                {
                    animation-delay: -42s;
                    right: 0;
                    top: 0;
                }
                &:nth-child(8)
                {
                    animation-delay: -48s;
                    right: 0;
                    bottom: 0;
                }
                &:nth-child(9)
                {
                    animation-delay: -54s;
                    right: 20cqmin;
                    top: 0;
                }
                &:nth-child(10)
                {
                    animation-delay: 0;
                    right: 20cqmin;
                    bottom: 0;
                }
            }
        }
        & .detail-container
        {
            & .detail-left, & .detail-right
            {
                &::before
                {
                    content: unset;
                }
                & .detail
                {
                    width: calc(100% - 40cqmin);
                    height: calc(100% - 40cqmin);
                    margin: 20cqmin auto;
                    padding: 0 5px;
                    & h3
                    {
                        display: block;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@keyframes square-move 
{
    0%{
        top: 0;
        left: 0;
        translate: 0;
    }    
    25%{
        top: 0;
        left: 100%;
        translate: -100% 0;
    }
    50%{
        top: 100%;
        left: 100%;
        translate: -100% -100%;
    }
    75%{
        top: 100%;
        left: 0;
        translate: 0 -100%;
    }
    100%{
        top: 0;
        left: 0;
        translate: 0;
    }
}